extends layout/page

block vars
	- title = 'Express 4 Chat'
block headScripts
	script(src="/socket.io/socket.io.js")

block content
	p= `Wellcome, ${user.get('username')}`

	#room
		ul
		form
			input.form-control(autocomplete="off" autofocus placeholder="Input your message here ...")

block javascript
	script(src="/js/chat.js")

